@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  @apply flex justify-between flex-col opacity-0 absolute -z-50
  lg:opacity-100 lg:relative lg:z-auto;
  
}

nav.open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(229, 31%, 21%, 0.9);
  z-index: 999;
  padding: 32px;
  opacity: 1;
}

nav ul li button {
  color: aliceblue;
  font-size: 16px;
}

h1,h2,h3,h4 {
  color: hsl(229, 31%, 21%);
  font-weight: bold;
}

p {
  color: hsl(229, 8%, 60%);
  
}

.button-darkBlue {
  background-color: hsl(231, 69%, 60%);
}

.darkest-blue {
  background-color: hsl(229, 31%, 21%);
}

.button-red{
  background-color: hsl(0, 94%, 66%);
}

.rectangle-right {
  position: absolute;
  right: -32px;
  bottom: 0;
  height: 250px;
  width: 100%;
  background-color: hsl(231, 69%, 60%);
  border-radius: 200px 0 0 200px;
  z-index: -1;

}

.rectangle-left {
  position: absolute;
  left: -32px;
  bottom: -50px;
  height: 250px;
  width: 100%;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0 200px 200px 0;
  z-index: -1;

}


@media (min-width: 1024px) {
  * {
    font-size: 18px;
    
  }

  body {
    overflow-x: hidden;
  };

  nav.open {
    background-color: transparent;
    position: relative;
    z-index: auto;
    padding: 0;
  }

  .rectangle-left, .rectangle-right{
    height: 300px;
  }

  .rectangle-right{
    right: -40%;
    width: 120%;
  }

  .rectangle-left{
    left: -40%;
    width: 120%;
  }
}